@import url('https://fonts.googleapis.com/css?family=Oxygen');


$space-large : 3rem;


.page-title{
    margin-top: $space-large;
    margin-bottom: $space-large;
    font-family: 'Oxygen' ;
}


.nav{
    font-family: 'Oxygen';
}

input[type=search] {
    box-shadow:none;
}